<% if @friends_search %>
  <div class="card card-header mt-2 card-inline">
    <table class="table table-bordered table-hover">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </thead>
        <tbody>
          <% @friends_search.each do |friend| %>
            <tr>
              <td><%= friend.full_name %></td>
              <td><%= friend.email %></td>
              <td>
                <%= link_to 'View profile', '#', class: 'btn btn-sm btn-success' %>
                <%if current_user.not_friends_with?(friend.id)%>
                  <%= link_to 'Follow friend?', '#', class: 'btn btn-sm btn-success' %>
                <%else%>
                  <span class='badge bg-secondary'>You are friends</span>
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
<% end %>