@import 'bootstrap/dist/css/bootstrap';

// .navbar-brand{
//   font-size: 3rem;
// }

.search-area {
  padding-top: 50px;
}

.card-inline {
  display: inline-block;
}

.logout-btn{
  margin-right: 5px;
}